@media (min-width: 900px) {


h2 {

  text-align: center;
  padding-right: 120pt !important;
  margin-top: 20pt !important;
}

}

h2 {

  text-align: center;
}

#buttonSignUp {

  float: right !important;
  margin: 20pt;
}


